body {
	background-color: #3B4288;
	color:white;
	/* font-family: 'Archivo Black', sans-serif; */
	word-wrap: break-word;
}

.display-container {
	display: flex;
	height: auto;
	width: 100vw;
}

.display {
	margin: 5rem;
	text-align: center;
	background-color: #5B63D2;
	border-radius: 8px;
	padding: 20px;
}

.display p {
	/* max-width: 35vw; */
	/* width: 35vw; */
	font-size: 20px;
	/* font-family: 'Barlow', sans-serif; */
}

.title h1 {
	text-align: center;
	font-size: 65px;
}

.container {
	margin: 5rem;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid {
	padding: 0px 15px 0px 15px; 
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	grid-gap: 20px;
}

.grid-item {
	background-color: #5B63D2;
	/* border: 1px solid #ccc; */
	border-radius: 8px;
	padding: 20px;
	text-align: center;
}

.grid-item h2 {
	/* max-width: 35vw; */
	/* width: 35vw; */
	font-size: 32px;
	font-family: 'Barlow', sans-serif;
}

.grid-item p {
	/* max-width: 35vw; */
	/* width: 35vw; */
	font-size: 22px;
	font-family: 'Barlow', sans-serif;
}
